
  a {
  color: red;
    text-decoration: none;
  }

  a:hover {
  color:green;
    text-decoration: none;
  }

  body {

    background-color: skyblue;
    color: black;
    font-family: "Comic Sans MS", cursive, sans-serif;
    text-align: center;
   }

  footer {
    margin-top: black;
    margin-bottom: 2rem;
  }

  h1 {
    color: blue;
    margin-bottom: 0.5rem;
    margin-top: 3rem;
   }

  h2 {
    color: green;
    margin-bottom: 2.5rem;
    margin-top: 2.5rem;
   }

  h3 {
    margin-bottom: 0;
    margin-top: 2rem;
  }

  h4 {
    margin-bottom: 1rem;
    margin-top: 0.5rem;
  }

  h5 {
    margin-top: 0.5rem;
  }

  hr {
    margin-bottom: 3rem;
    margin-top: 3rem;
  }

  /* this controls how the bullet points in the resume page looks */
  ul {
    display: table;
    margin: 0 auto;
    text-align: left;
  }
